.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.confirm-modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 90%;
  text-align: center;
}

.confirm-modal p {
  margin: 0 0 20px;
  font-size: 16px;
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
}

.confirm-button {
  background-color: #c63f3e;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
}

.confirm-button:hover {
  background-color: #b63a39;
}

.cancel-button {
  background-color: #d3d4e3;
  color: #000;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
}

.cancel-button:hover {
  background-color: #b0b1c0;
}
